html{
    height: 100%;
    margin:0;
    padding-bottom:30rem;
}
body{
    height: 100%;
    margin:0;

}
h1{
    color: oldlace;
    text-align:center;
    margin-top: 15rem;
}
div{
    margin-left: auto;
    margin-right: auto;
    width:150px;
}
body{
    background:url('/cloud.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}